{% extends "components/layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Dashboard</h1>
    <p class="text-center text-muted">Welcome, {{ username }}</p>
</div>

<div class="container py-5">
    <h3 class="text-center mb-4">Task Status Overview</h3>
    <div class="row">
        {% set status_groups = {
            'No Progress Tasks': {'count': count_status['Open'], 'percentage': count_status['OpenPercentage'], 'color': 'dark'},
            'In Progress': {'count': count_status['InProgress'], 'percentage': count_status['InProgressPercentage'], 'color': 'warning'},
            'Completed Tasks': {'count': count_status['Completed'], 'percentage': count_status['CompletedPercentage'], 'color': 'success'}
        } %}
    
        {% for title, group in status_groups.items() %}
            {% if group['count'] > 0 %}  {# Solo muestra si hay tareas en este estado #}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header bg-{{ group['color'] }} text-white">
                        {{ title }}
                    </div>
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ group['percentage'] }}%;" aria-valuenow="{{ group['percentage'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-2">{{ group['count'] }} ({{ group['percentage'] }}%)</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}