{% extends "components/layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row m-sm-5 m-3">
    <h1>Welcome  to: To Do List</h1>
</div>

<section class="row justify-content-center">
    <form action="/dashboard" method="POST" class="col-sm-5 col-10">
        <div class="form-floating mb-3">
            <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="password">
            <label for="floatingPassword">Password</label>
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary">Log in</button>
    </form>
</section>


{% endblock %}