{% extends "components/layout.html" %}
{% block title %}To Do List{% endblock %}
{% block content %}
<div class="row m-sm-5 m-3">
    <h1>To Do List </h1>
    <p>Welcome</p>
</div>

<form method="post" action="/lists" class="row g-3 mx-sm-5 mx-2">
    <div class="form-floating mb-3">
        <input id="task" type="text" class="form-control" name="task" placeholder="task">
        <label for="task">Task</label>
    </div>
    <div class="form-floating mb-3">
        <select name="category_id" class="form-select" required>
            <option value="">Select Category</option>
            {% for category in categories %}
                <option value="{{ category['category_id'] }}">{{ category['category'] }}</option>
            {% endfor %}
        </select>
        <label for="category_id">Category</label>
    </div>

    <div class="form-floating mb-3">
        <textarea name="notes" class="form-control" id="notes" required></textarea> 
        <label for="details">Details</label>
    </div>

    <div class="form-floating mb-3">
        <input id="created" type="date" class="form-control" name="created" placeholder="created">
        <label for="created">Created On</label>
    </div>

    <div class="form-floating mb-3">
        <select name="user_id" class="form-select" required>
            <option value="">Select Status</option>
            {% for user in users %}
                <option value="{{ user['user_id'] }}">{{ user['username'] }}</option>
            {% endfor %}
        </select>
        <label for="user_id">Handle by</label>
    </div>

    <div class="form-floating mb-3">
        <select name="status_id" class="form-select" required>
            <option value="">Select Status</option>
            {% for statuss in status %}
                <option value="{{ statuss['status_id'] }}">{{ statuss['status'] }}</option>
            {% endfor %}
        </select>
        <label for="status_id">Status</label>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit">Submit Task</button>
        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/lists'">Cancel</button>
    </div>
</form>

{% endblock %}