{% extends "components/layout.html" %}
{% block title %}To Do List{% endblock %}
{% block content %}
<div class="row m-sm-5 m-3">
    <h1>To Do List </h1>
    <p>{{ username }}</p>
</div>

<form method="post" action="/tasks" class="row g-3 mx-sm-5 mx-2">
    <div class="form-floating mb-3">
        <input id="task" type="text" class="form-control" name="task" placeholder="task" required>
        <label for="task">Task</label>
    </div>
    <div class="form-floating mb-3">
        <select name="category_id" class="form-select" required>
            <option value="">Select Category</option>
            {% for category in categories %}
                <option value="{{ category['category_id'] }}">{{ category['category'] }}</option>
            {% endfor %}
        </select>
        <label for="category_id">Category</label>
    </div>

    <div class="form-floating mb-3">
        <textarea name="details" class="form-control" id="details" required></textarea> 
        <label for="details">Details</label>
    </div>

    <div class="form-floating mb-3">
        <input id="created" type="date" class="form-control" name="created" placeholder="created">
        <label for="created">Created On</label>
    </div>

    <div class="form-floating mb-3">
        <select name="user_id" class="form-select" required>
            <option value="">Select User</option>
            {% for user in users %}
                <option value="{{ user['user_id'] }}">{{ user['name'] }}</option>
            {% endfor %}
        </select>
        <label for="user_id">Handle by</label>
    </div>
<!--    <div class="form-floating mb-3">
        <select name="status_id" class="form-select" required>
            <option value="">Select Status</option>
            {% for statuss in status %}
                <option value="{{ statuss['status_id'] }}">{{ statuss['status'] }}</option>
            {% endfor %}
        </select>
        <label for="status_id">Status</label>
    </div>
-->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit">Submit Task</button>
        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/tasks'">Cancel</button>
    </div>
</form>

<div class="container-fluid w-90 mt-3">
    <h1 class="text-center mb-4">Tasks</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Task #</th>
                <th scope="col">Task</th>
                <th scope="col">Details</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
                <th scope="col">Category</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Modify</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for task in tasks %}
            <tr>
                <td>{{ task['task_id'] }}</td>   
                <td>{{ task['task'] }}</td>  
                <td>{{ task['details'] }}</td>  
                <td>{{ task['Created on'] }}</td>  
                <td>{{ task['status_id'] }}</td>  
                <td>{{ task['category_id'] }}</td>  
                <td>{{ task['user_name'] }}</td>  
                <td>{{ task['updated'] }}</td>  
                <td>
                    <a href="/editTask/{{ task['task_id'] }}" class="btn btn-outline-warning">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}